body {
    margin: 0
}

header {
    background: '#03A9F4';
    text-align: 'center';
}

.logo {
    color: '#fff';
    font-family: 'Anton';
    font-size: 40px;
}

header input {
    font-size: 20px;
    margin: 20px 0px;
}

.news-item {
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid grey;
}